@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-pagination-item {
    @apply hover:bg-white rounded-full transition-all
}

.rc-pagination-item-active {
    @apply bg-white rounded-lg;
}

.rbc-event {
    @apply bg-blue-600;
}

.rbc-show-more {
    @apply text-blue-600;
}

.rbc-today, .css-1n6sfyn-MenuList {
    outline: none;
    background: #ddd6fe;
    border-radius: 8px;
}

